# Python specifieke uitsluitingen
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
help/
scripts/

# Logs
*.log


# MacOS specifieke bestanden
.DS_Store

# Windows specifieke bestanden
Thumbs.db
ehthumbs.db

# Build bestanden en output (voor documentatie of andere builds)
build/
dist/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/

# Help / Documentation folders
help/build/
help/.templates/
help/_static/


# Configuratie bestanden die je misschien niet wilt delen
pb_tool.cfg

# Git
.git/
.gitattributes
